# General
node_modules
.vscode
.DS_Store
*.log
*.tgz

# Example app
example

# Android junk
android/.gradle
android/build
android/src/androidTest
android/src/test

# iOS junk
ios/build
DerivedData

# Tests / mocks
__mocks__
__tests__

# Tooling
babel.config.js
